/* main container for image cards and news list */
.container {
    display: flex;
    flex-direction: row;
    background-color: lavender;
    margin: 8px 8px 8px 96px;
    overflow: auto;
}

.twothird {
    width: 67%;
    flex-direction: column;
    flex-wrap: nowrap;
}

.onethird {
    width: 33%;
    flex-direction: column;
    flex-wrap:nowrap;
}

.grid-container-l {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 4px;
}
.grid-container-l > div {
    background-color: transparent;
    text-align: center;
    padding: 0;
    font-size: 30px;
}

.v2x1 {
    grid-row-start: 1;
    grid-row-end: 3;
}
.h1x2 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.grid-container-l img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    vertical-align: middle;
}