/* Style pour la barre de navigation */

.topnav {
    font-size: 0.7em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height:72px;
    background-color: #E60012;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    overflow:hidden;
    position: sticky;
    top: 0;
    left: 100;
}

.topnav a {
    cursor: pointer;
    float:right;
    text-align: center;
    padding: 12px;
    color:white;
}
/* Souligne le texte en span */
.topnav a span :hover {
    text-decoration: underline;
}

.topnav a img {
    height: 24px;
    width: auto;
    text-align: center;
}

#logo {
    position: absolute;
    left:0;
    vertical-align: middle;
}